/*
* Style.css
* Author: Keith Pennington
* Description: Custom css for CMS-Project
*
*/

/* Custom nav css */

.container {
    padding: 3% 2%;
}

.nav-right {
    margin-left: 10px;
}

input.file-upload {
    padding: 0;
    border: none;
}

.image-upload-preview {
    width: 200px;
}

.image-preview {
    width: 100px;
}

img.profile-img {
    width: 100%;
}

.excerpt {
    padding: 2% 1%;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.row {
    padding: 0.5% 0%;
}

form.profile {
    width: 100%;
}
