/*
* Style.css
* Author: Keith Pennington
* Description: Custom css for CMS-Project
*
*/

/* Custom nav css */

.nav-right {
    margin-left: 10px;
}

input.file-upload {
    padding: 0;
    border: none;
}
