/*
* Style.css
* Author: Keith Pennington
* Description: Custom css for CMS-Project
*
*/

/* Custom nav css */

.container {
    padding: 3% 2%;
}

.nav-right {
    margin-left: 10px;
}

input.file-upload {
    padding: 0;
    border: none;
}

.image-preview {
    width: 100px;
}

img.profile-img {
    width: 100%;
}
